#pagination{
    text-align: center;
  }
  #pagination a{
    text-decoration: none;
    background-color: #088178;
    padding: 15px 20px;
    margin: 3px;
    border-radius: 4px;
    color: #fff;
  font-weight: 600;
  }
  #pagination a span{
    font-size: 16p;
    font-weight: 600;
  }